.row(ng-controller="AdminContentCtrl")
    .col-sm-12
        h1 Simple Slide
    
    .col-sm-12
        form.form(name='form')
            .form-group()
                label Title
                input.form-control(type='textbox', name='pres', ng-model='formData.title')
            .form-group()
                label Presentation
                textarea.form-control( ng-model='formData.pres')
                

            .form-group()
                label Mobile
                textarea.form-control( ng-model='formData.mobile')
                

            .form-group()
                label Notes
                textarea.form-control( ng-model='formData.notes' )
            .btn.btn-primary( ng-click='addSlide( "slide-simple" )') send