.row(ng-controller="AdminContentCtrl")
    .col-sm-12
        h1 Simple Slide
    
    .col-sm-12
        form.form( ng-init="formData.type='slide-simple'" )
            .form-group()
                label Title
                input.form-control(type='textbox', name='pres', ng-model='formData.title')
                div MathJax: x = {-b \pm \sqrt{b^2-4ac} \over 2a}
            .form-group()
                label(ng-init="presZoom = 1") Präsentation
                .btn.btn-primary(ng-click="presZoom = presZoom + 0.2; presZoomStyle={zoom: presZoom}") +
                .btn.btn-primary(ng-click="presZoom = presZoom - 0.2; presZoomStyle={zoom: presZoom}") -
                span &nbsp; {{presZoom}}
                div.thumbnail(ng-init="data.editPres = false")
                    .btn.btn-primary.pull-right( ng-hide="data.editPres", ng-click="data.editPres = !data.editPres") edit
                    .btn.btn-danger.pull-right( ng-show="data.editPres", ng-click="data.editPres = !data.editPres") save
                    div( ng-show="data.editPres")
                        textarea( ckeditor="editorOptions", ng-model='formData.pres')
                    div.dynamic-preview( ng-hide="data.editPres", dynamic='formData.pres', ng-style="presZoomStyle")

            .form-group() Handout
                div.thumbnail(ng-init="data.editMobile = false")
                    .btn.btn-primary.pull-right( ng-hide="data.editMobile", ng-click="data.editMobile = !data.editMobile") edit
                    .btn.btn-danger.pull-right( ng-show="data.editMobile", ng-click="data.editMobile = !data.editMobile") save
                    div( ng-show="data.editMobile")
                        textarea( ckeditor="editorOptions", ng-model='formData.mobile')
                    div.dynamic-preview( ng-hide="data.editMobile", dynamic='formData.mobile', ng-style="presZoomStyle")

            .form-group()
                label Notizen
                textarea.form-control( ng-model='formData.notes' )
            .btn.btn-primary( ng-click='saveSlide( "slide-simple" )') send