html,body {
    height: 100%;
    margin: 0;
}

body {

}
#wrapper {
    height: 100%;
    min-height: 100%;
    max-height: 100%;

}

#wrapper-topnav {
    z-index: 100;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #ddd;
    overflow: hidden;
}
#wrapper-main {
    position: fixed;
    top: 48px;
    bottom: 48px;
    width: 100%;
    overflow-y: scroll;
    background-color: #eee;
}

#wrapper-sidebar {
    min-height: 100%;
}

#wrapper-content {
    min-height: 100%;

}
#wrapper-controls {
    position: fixed;
    bottom: 0px;
    width: 100%;
    overflow: hidden;
    background-color: #ddd;
}
