div(ng-controller="StatsCtrl")
    .btn.btn-default( ng-click="data.answers.changed = true" ) update
    .btn.btn-default( ng-click="clearChart()" ) reset
    div.container( ui-chart="testData", chart-options="testOptions")