.jumbotron.light-border
    h2
        | 'Allo, 'Allo 

        span(ng-show='currentUser') {{ currentUser.name }} !

    br
    img.thumbnail.center-block(src="images/feedback.jpg", alt="title images")
    p Get your audience involved
    p
        .btn.btn-lg.btn-success(ng-href='#') Splendid!


    p with ♥ from infus<span style="color:#904;">ION</span>

