.jumbotron
  h1
    | 'Allo, 'Allo 
    span(ng-show='currentUser') {{ currentUser.name }}
    | !

  p.lead
    <img src="images/yeoman.png" alt="I'm Yeoman">
    br
    | Get your audience involved
  p
    a.btn.btn-lg.btn-success(ng-href='#') Splendid!
    input( type="text", ng-model="app.styles.sidebarWidth")


.footer
  p ♥ from the fusionMedia team

