.jumbotron.light-border
    h2
        | 'Allo, 'Allo 

        em(ng-show='data.currentUser') {{ data.currentUser.name }} !

    br
    img.thumbnail.center-block(src="images/feedback.jpg", alt="title images")
    p Get your audience involved
    p *****
        
    p Dass du bis hierher gekommen bist ist gutes Zeichen. Ich hoffe der Weg war nicht allzu beschwerlich. 
        | Falls der Datenbank-Import ebenfalls erfolgreich war, sollte oben im Menu unter 
        em Admin / Veranstaltungen 
        | eine kleine Einführungs-Tour bereitstehen. 
    br
    p
        code **daumendrück**
    br
    p
        .btn.btn-lg.btn-success( ui-sref='admin.admin.events' ) Splendid!
    br
    p *****
    br
    p with ♥ from <span style="color:#904;">IOn</span>
        //div( molecule="ethan" mol-src="caffeineMolFile", mol-model= "an Object")

