.jumbotron.light-border
    h2
        | 'Allo, 'Allo 

        em(ng-show='data.currentUser') {{ data.currentUser.name }} !

    br
    img.thumbnail.center-block(src="images/feedback.jpg", alt="title images")
    img.thumbnail.center-block(src="images/play.jpg", alt="title images")
    p Get your audience involved
    p
        
    p Wenn du bis hierher gekommen bist ist das schon mal ein sehr gutes Zeichen. Ich hoffe der Weg war nicht allzu beschwerlich. 
        | Falls der Datenbank Import ebenfalls geklappt, hat sollte oben im Menu unter Admin / Veranstaltungen
        | eine kleine Einleitung bereitstehen. 
        br
        code **daumendrück**
    .btn.btn-lg.btn-success( ui-sref='admin.admin.events' ) Splendid!

    p with ♥ from <span style="color:#904;">IOn</span>ize
    br
    //div( molecule="ethan" mol-src="caffeineMolFile", mol-model= "an Object")

