.nav.navbar-default(role="navigation")
    .container-fluid

        ul.nav.nav-pills
            li
                a(ui-sref="enter") Enter 
            li
                a(ui-sref="home") Home 
            li
                a(ui-sref="state1") State 1 
            li
                a(ui-sref="state2") State 2 
            li
                a(ui-sref="login") Login 