div(ng-controller='NavbarCtrl')
    div.nav
        a.nav-pills.navbar-brand( ng-click="test()" ) IOn
            sup( style="color:red;" ) +

        

        ul.nav.nav-bar.nav-pills
            li(ng-repeat='item in menu', ui-sref-active="active")
                a(ui-sref='{{item.sref}}', access-level="{{item.access}}") {{item.title}}

            li.pull-right( ng-show="user.name" )
                a(href='', ng-click='logout()') Logout
            li.pull-right
                a(href='/profile', ng-show="user")
                    span {{user.name}}
            li.pull-right
                a(href='/login', ng-show="!user.name") Login
            li.pull-right
                a(href='/signup', ng-show="!user.name") neu hier?


            //li
                .btn.btn-danger err: {{error}}