.navbar-fixed-bottom
    .light-border
        .btn.btn-primary( ng-click="app.player.activeSlideNr = app.player.activeSlideNr - 1" )
            span.glyphicon.glyphicon-step-backward
        .btn.btn-primary( ng-click="app.player.activeSlideNr = app.player.activeSlideNr + 1" )
            span.glyphicon.glyphicon-step-forward

        span &nbsp;# {{app.player.activeSlideNr + 1}} / {{app.player.event.deck.slides.length}} 

        .btn.btn-danger( ng-click="app.player.locked = !app.player.locked", ng-hide="app.player.locked" )
            span.glyphicon.glyphicon-lock
        .btn.btn-primary( ng-click="app.player.locked = !app.player.locked", ng-show="app.player.locked" )
            span.glyphicon.glyphicon-lock
        .btn.btn-warning( ng-click="app.player.pushSlide()", ng-hide="app.player.locked" )
            span.glyphicon.glyphicon-play
        .btn.btn-primary.pull-right( ng-click="app.showNav = !app.showNav" )
            span.glyphicon.glyphicon-th


        
        .pull-right &nbsp;

        .btn.btn-primary.pull-right( ng-click="app.player.zoomFactor = app.player.zoomFactor - 2" )
            span.glyphicon.glyphicon-zoom-out
        .btn.btn-primary.pull-right( ng-click="app.player.zoomFactor = app.player.zoomFactor + 2" )
            span.glyphicon.glyphicon-zoom-in

        .pull-right &nbsp;{{app.player.zoomFactor}}% 

        .pull-right &nbsp;

        .btn.pull-right( ng-click="app.player.showStats = !app.player.showStats"
                ng-class="{'btn-success': app.player.showStats, 'btn-primary': !app.player.showStats }")
            span stats
        .btn.btn-primary.pull-right( ng-click="app.player.showNotes = !app.player.showNotes"
                ng-class="{'btn-success': app.player.showNotes, 'btn-primary': !app.player.showNotes, 'disabled': !data.selected.slide.notes }" )
            span notes
        .btn.btn-primary.pull-right( ng-click='openTab("/player")' )
            span.glyphicon.glyphicon-film