
.presentation.light-border( ng-controller="PlayerCtrl" )
    div.light-border( dynamic="app.player.presentation", ng-style="app.player.zoomStyle", ng-hideX="app.player.showStats")
    div.light-border( dynamic="app.player.stats", ng-style="app.player.zoomStyle", ng-class="{offscreen: !app.player.showStats}")
    div.light-border( dynamic="app.player.notes", ng-style="app.player.zoomStyle", ng-show="(app.player.showNotes && data.selected.slide.notes)")
