div( dynamic="data.selected.slide.mobile.question" )
form.form.container-fluid
    div.form-group.row(ng-repeat="answer in data.selected.slide.mobile.answers")
        .col-xs-12
            .form-control.btn.btn-lg.btn-primary(  ng-click="sendAnswer(answer.text)") {{answer.text}}
