div( dynamic="data.selected.slide.mobile.question" )
div.container
    div.row(ng-repeat="answer in data.selected.slide.mobile.answers")
        .col-xs-12.form-group
            .btn.btn-lg.btn-primary.form-control( ng-click="sendAnswer(answer.text)") {{answer.text}}