div( ng-controller="ChemCtrl" ) ChemDoodeleWeb
div.light-border Editor

    div before iframe
    iframe#sketcher-frame( src="about:blank", height="450px", width="600px", style="border: 1px black dashed;" )



