div( ng-controller="ChemCtrl" ) ChemDoodeleWeb
    div.light-border Editor

        canvas#sketcher-canvas()
        p
            a.btn.btn-primary( ng-click="molecule = 'update()'" ) commit
            span ChemDoodle (jQuery-UI?) is removing ng-click events

    div


        canvas#viewer-canvas()

        div 
            p .mol-file
            p {{molecule}}





