div(ng-controller='AdminCtrl')

    div(ng-repeat='deck in data.decks', ng-click='select(this, "deck")')
        .light-border
            strong {{deck.name}}
            p
                em {{deck.desc}}
    a.btn.btn-primary( href='/admin/edit/deck') neues Deck