h4 deck details
div
    div id: {{data.selected.deck._id}}
    div name: {{data.selected.deck.name}}
    div desc: {{data.selected.deck.desc}}
    div pub: {{data.selected.deck.pub}}
    div share: {{data.selected.deck.share}}