div(ng-controller='AdminCtrl')
    .btn.btn-primary(ng-click='goTo("/admin/edit/deck")') new
    div(ng-repeat='deck in data.decks', ng-click='select(this, "deck")')
        div.thumbnail {{deck.name}}