h4 Details
div(ng-show="data.selected.event")
    div owner id: {{data.selected.event.own}}
    div name: {{data.selected.event.name}}
    div date: {{data.selected.event.date}}
    div group: {{data.selected.event.group.name}}
    div deck: {{data.selected.event.deck.name}}
    .btn.btn-primary( ng-click="startEvent()" ) start event