h4 Details
div(ng-show="data.selected.event").light-border
    .container
        h5
            strong {{data.selected.event.name}}

        p erstellt am {{data.selected.event.date | date:'dd.MM.yyyy'}} um {{data.selected.event.date | date:'HH:mm'}} Uhr
        p für: {{data.selected.event.group.name}}
        p Deck: {{data.selected.event.deck.name}}
        p
            .btn.btn-primary( ng-click="startEvent()" )
                span.glyphicon.glyphicon-play
                span &nbsp;Starten