h4 form browser
div 
    div.light-border
        a(ng-href="/admin/edit/slide-simple") Simple Slide
    div.light-border
        a(ng-href="/admin/edit/slide-mc") Multiple-Choice
    div.light-border
        a(ng-href="/admin/edit/slide-yun") YUN