h4 form browser
div 
    div
        a(ng-href="/admin/new/slide-simple") Simple Slide
    div
        a(ng-href="/admin/new/slide-mc") Multiple-Choice
    div
        a(ng-href="/admin/new/slide-simple") ....