.container(ng-controller='AdminCtrl')
    .row
        button.btn.btn-primary( ng-click="choose('decks')") Decks
        button.btn.btn-primary( ng-click="choose('events')") Events
        button.btn.btn-primary( ng-click="choose('groups')") Groups
        tabset
            tab(ng-repeat="tab in tabs", heading="{{tab.title}}", active="tab.active", ui-sref="{{tab.sref}}") {{tab.content}}
        div.col-xs-3(ui-view='browser')
        div.col-xs-9(ui-view='details')

