div(ng-controller='AdminCtrl')
        
    .container( ng-init="app.styles.sidebarWidth = 0" )
        .row
            #wrapper-sidebar( ng-class="app.styles.sidebarClass" )
                div( ui-view='sidebar' )
            #wrapper-content( ng-class="app.styles.mainContentClass" )
                div( ui-view='content' )
                    .row
                        .col-xs-6.col-md-3( ng-repeat="link in links", ui-sref="{{link.sref}}" )
                            .light-border
                                .btn.btn-primary {{link.title}}