div
    video.light-border#videoElement(autoplay, width="800")

    script.


        var video = document.querySelector("#videoElement");

        // check for getUserMedia support
        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.oGetUserMedia;
         
        if (navigator.getUserMedia) {       
            // get webcam feed if available
            navigator.getUserMedia({video: true}, handleVideo, videoError);
        }
         
        function handleVideo(stream) {
            // if found attach feed to video element
            video.src = window.URL.createObjectURL(stream);
        }
         
        function videoError(e) {
            alert("no webcam found")
        }
        var v,canvas,context,w,h;

        document.addEventListener('DOMContentLoaded', function(){
            // when DOM loaded, get canvas 2D context and store width and height of element
            v = document.getElementById('videoElement');
            context = canvas.getContext('2d');
            w = canvas.width;
            h = canvas.height;

        },false);

        function draw(v,c,w,h) {

            if(v.paused || v.ended) return false; // if no video, exit here

            context.drawImage(v,0,0,w,h); // draw video feed to canvas
           
           var uri = canvas.toDataURL("image/png"); // convert canvas to data URI
           
           // console.log(uri); // uncomment line to log URI for testing
        }

